<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>

  
          <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AppARM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AppARM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <AppARM.Properties.Settings>
            <setting name="IP_adress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>8081</value>
            </setting>
            <setting name="Login_BD" serializeAs="String">
                <value>user_name</value>
            </setting>
            <setting name="Password_BD" serializeAs="String">
                <value />
            </setting>
            <setting name="UserApI" serializeAs="String">
                <value>VUY8nxlgMDZ531jgudhbWpBUc4zrV0ja</value>
            </setting>
            <setting name="IP_ServerListen" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Port_ServerListen" serializeAs="String">
                <value>6666</value>
            </setting>
            <setting name="IP_Server_maps" serializeAs="String">
                <value />
            </setting>
            <setting name="Port_Server_maps" serializeAs="String">
                <value />
            </setting>
            <setting name="Ip_Server_Device" serializeAs="String">
                <value />
            </setting>
            <setting name="Port_Server_Device" serializeAs="String">
                <value />
            </setting>
        </AppARM.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <AppARM.Properties.Settings>
            <setting name="Save_text" serializeAs="String">
                <value />
            </setting>
        </AppARM.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Mono.Security" publicKeyToken="0738eb9f132ed756" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GMap.NET.Core" publicKeyToken="b85b9027b614afef" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
